

<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>Cambiar contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-content"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


  <ion-card justify-content-center align-items-center>
    <ion-card-content>
     <ion-item>
     

      <ion-input label="Contraseña actual" type="text" name="contraactual" [(ngModel)]="contraactual"></ion-input>
     </ion-item>
     <ion-item>
   

      <ion-input label="Contraseña nueva" type="text" name="contranueva" [(ngModel)]="contranueva"></ion-input>
    </ion-item>
     
      
      <ion-button (click)="cambiarcontra()" expand="block" color="danger">Cambiar contraseña</ion-button>
    </ion-card-content>
    
  </ion-card>
</ion-content>
