<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>

    
  </ion-header>

  <div id="container">
  
    <ion-img slot="start" src="../../assets/logo_rentia.png"></ion-img>
    <ion-item>
      <ion-input label="Nombre de usuario" type="text" name="user" [(ngModel)]="user"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Contraseña" type="password" name="pass" [(ngModel)]="pass"></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox [(ngModel)]="guardarCredenciales">Guardar credenciales para iniciar sesion.</ion-checkbox>
    </ion-item>
    
      <ion-button (click)="iniciarSesion()" expand="block">Iniciar Sesion</ion-button>
    
  </div>
</ion-content>
